In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('air_data.csv')
df.head()

,City,Datetime,Station,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Delhi,2015-01-01 00:00:00,Station_D1,243.1,193.5,182.4,58.8,100.9,30.4,3.08,24.3,166.7,12.66,18.42,1.91,301.5,Good
1,Delhi,2015-01-01 00:00:00,Station_D2,476.7,504.0,172.4,80.7,114.4,30.3,7.96,48.1,72.9,8.35,26.53,1.66,243.1,Satisfactory
2,Mumbai,2015-01-01 00:00:00,Station_M1,463.9,92.7,142.5,21.7,130.2,11.3,4.89,99.5,166.5,15.96,24.41,7.88,14.7,Severe
3,Mumbai,2015-01-01 00:00:00,Station_M2,447.1,545.1,85.5,124.6,66.6,21.3,3.92,61.6,109.3,19.34,6.09,5.37,471.7,Very Poor
4,Chennai,2015-01-01 00:00:00,Station_C1,117.6,390.6,149.5,115.4,222.4,25.2,4.85,15.1,198.3,0.20,6.49,1.69,312.3,Satisfactory

In [3]:
df.shape

(7210, 17)

In [4]:
df.describe()

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI
count,7210.000000,7210.000000,7210.000000,7210.000000,7210.000000,7210.000000,7210.000000,7210.000000,7210.000000,7210.000000,7210.000000,7210.000000,7210.000000
mean,251.119501,296.500374,101.430180,75.853135,125.027365,24.859764,5.027320,50.044535,100.186602,10.018950,14.966846,5.019162,249.699168
std,143.121895,173.714070,57.441876,43.202037,72.166481,14.483497,2.878153,29.153902,57.770853,5.775424,8.611854,2.883486,143.926543
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.010000,0.000000
25%,128.400000,145.200000,52.400000,38.425000,62.125000,12.325000,2.540000,24.500000,50.600000,4.972500,7.592500,2.520000,127.100000
50%,250.850000,294.050000,102.750000,75.600000,124.400000,24.800000,5.050000,50.200000,99.000000,10.020000,14.970000,4.990000,250.200000
75%,376.275000,445.875000,151.575000,113.700000,188.575000,37.500000,7.520000,75.300000,150.800000,15.030000,22.300000,7.510000,372.975000
max,499.700000,599.900000,200.000000,150.000000,250.000000,50.000000,10.000000,100.000000,199.900000,20.000000,30.000000,10.000000,500.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7210 entries, 0 to 7209
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        7210 non-null   object
 1   Datetime    7210 non-null   object
 2   Station     7210 non-null   object
 3   PM2.5       7210 non-null   float64
 4   PM10        7210 non-null   float64
 5   NO          7210 non-null   float64
 6   NO2         7210 non-null   float64
 7   NOx         7210 non-null   float64
 8   NH3         7210 non-null   float64
 9   CO          7210 non-null   float64
 10  SO2         7210 non-null   float64
 11  O3          7210 non-null   float64
 12  Benzene     7210 non-null   float64
 13  Toluene     7210 non-null   float64
 14  Xylene      7210 non-null   float64
 15  AQI         7210 non-null   float64
 16  AQI_Bucket  7210 non-null   object
dtypes: float64(13), object(4)
memory usage: 957.7+ KB

In [6]:
df.isnull().sum()

City          0
Datetime      0
Station       0
PM2.5         0
PM10          0
NO            0
NO2           0
NOx           0
NH3           0
CO            0
SO2           0
O3            0
Benzene       0
Toluene       0
Xylene        0
AQI           0
AQI_Bucket    0
dtype: int64

In [7]:
numeric_col=df.select_dtypes(include=np.number).columns

In [10]:
df[numeric_col]=df[numeric_col].fillna(df[numeric_col].mean())

In [12]:
df.duplicated().sum()

np.int64(0)

In [13]:
df=df.drop_duplicates()

In [14]:
df['Datetime']=pd.to_datetime(df['Datetime'])

In [16]:
df['Date']=df['Datetime'].dt.date

In [17]:
df['Hour']=df['Datetime'].dt.time

In [18]:
df.columns

Index(['City', 'Datetime', 'Station', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx',
       'NH3', 'CO', 'SO2', 'O3', 'Benzene', 'Toluene', 'Xylene', 'AQI',
       'AQI_Bucket', 'Date', 'Hour'],
      dtype='object')

In [19]:
df['AQI'].describe()

count    7210.000000
mean      249.699168
std       143.926543
min         0.000000
25%       127.100000
50%       250.200000
75%       372.975000
max       500.000000
Name: AQI, dtype: float64

In [20]:
city_aqi=df.groupby('City')['AQI'].mean().reset_index()

In [21]:
pm25_station=df.groupby('Station')['PM2.5'].mean().reset_index()

In [22]:
aqi_bucket_count=df['AQI_Bucket'].value_counts().reset_index()

In [23]:
df.columns

Index(['City', 'Datetime', 'Station', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx',
       'NH3', 'CO', 'SO2', 'O3', 'Benzene', 'Toluene', 'Xylene', 'AQI',
       'AQI_Bucket', 'Date', 'Hour'],
      dtype='object')

In [26]:
print(aqi_bucket_count)

     AQI_Bucket  count
0      Moderate   1278
1          Poor   1219
2        Severe   1212
3  Satisfactory   1189
4     Very Poor   1159
5          Good   1153

In [27]:
df.to_csv('cleaned_air.csv',index=False)

In [28]:
df.columns

Index(['City', 'Datetime', 'Station', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx',
       'NH3', 'CO', 'SO2', 'O3', 'Benzene', 'Toluene', 'Xylene', 'AQI',
       'AQI_Bucket', 'Date', 'Hour'],
      dtype='object')